.bg-primary {
  --bs-text-opacity: 1;
  background-color: rgba(
    rgba(240, 87, 45, 1),
    var(--bs-text-opacity)
  ) !important;
}

.bg-search {
  $color_secondary: #31363f;
  background-color: $color_secondary;
}
